In [1]:
message= 'And now for something completely different'

In [2]:
n = 17

In [3]:
pi= 3.1415

In [4]:
a=2>5

In [5]:
message

'And now for something completely different'

In [6]:
n

17

In [7]:
pi

3.1415

In [8]:
a

False

In [9]:
type(message)

str

In [10]:
type(n)

int

In [11]:
type(pi)

float

In [12]:
type(a)

bool

In [13]:
len(message)

42

# Python reserve keywords AND,DEL, FROM, NONE, TRUE, AS, ELIF, GLOBAL, NONLOCAL, TRY, ASSERT,ELSE, IF, NOT. WHILE, BREAK, EXCEPT, IMPORT

OPERATORS AND OPERANDS

In [14]:
4/3

1.3333333333333333

In [15]:
4//3

1

In [16]:
4%3

1

In [17]:
5*3

15

In [18]:
5**3

125

In [19]:
2 + 3 * 5 + 5

22

In [20]:
(2 + 3) * (5 + 5)

50

# SETS

In [21]:
{1,2,3}

{1, 2, 3}

In [22]:
{1,2,3,1,2,1,3,3,3,2,2,1} #this simply picks the unique number

{1, 2, 3}

In [23]:
set([1,3,4,5,5,5,5,7,7,8,9,3,2,6,7,9,6,5.6,6,3])

{1, 2, 3, 4, 5, 5.6, 6, 7, 8, 9}

In [24]:
a = {4, 6, 8, 9}

In [25]:
a.add(5)

In [26]:
a

{4, 5, 6, 8, 9}

In [27]:
a.add([2,5])

TypeError: unhashable type: 'list'

# comparison operators

In [ ]:
1>2

In [ ]:
1<2

In [ ]:
5 >= 5

In [ ]:
2 <= 8

In [ ]:
8 == 8

In [ ]:
3 != 3

In [ ]:
'hi' =='bye'

In [ ]:
'hi' != 'bye'

# Expression An expression is a combination of values, variables and operators. A value all by itself is an expression and is a  variable

In [ ]:
x=5
x =x + 1£
x

# Logic Operators

In [ ]:
True and True #all conditions must be true

In [ ]:
(1>2) or (2<3)

In [ ]:
1 > 2 and 2 < 3

In [ ]:
(1 > 2)

In [ ]:
False and False

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1==2) or (2==3) or (4==4)

In [ ]:
num = 11
name = 'abbey'

In [ ]:
print ('my number is: {one}, and my name is: {two}'.format(two=name,one=num))

In [ ]:
print('my number is: {}, and my name is: {}'.format(num,name))

# String Operations the + operator works with strings, but it is not addition in the mathematical sense. Instead it performs concatenation, which means joing the strings by linking them end to end

In [ ]:
first = 100
second =150
first + second

In [ ]:
first = '100'
second = '150'
first + second

In [ ]:
x = 'python'

In [ ]:
x

In [ ]:
num = 11

In [ ]:
name = 'Opeyemi'

In [29]:
num = 11
name ='Opeyemi'


print ('my name is: {one}, and my number is: {two},'.format (one = name, two=num))

my name is: Opeyemi, and my number is: 11,

# How to ask users for input

In [ ]:
name = input ('what is your age')
print ('thank you mr',name)

In [30]:
num = 5
name = 'abbey'
print ('my name is: {}, and my number is: {}'.format (name,num))

my name is: abbey, and my number is: 5

In [32]:
address = input ('my address is')
print ('so you stay in {}'.format (address))

my address isbenin city
so you stay in benin city

In [36]:
speed = input ('what...is the airspeed velocity of an eagle?\n')
int (speed) + 5

what...is the airspeed velocity of an eagle?
10

15

In [37]:
int (input ('what...is the airspeed velocity of an eagle?\n'))

what...is the airspeed velocity of an eagle?
10

10

# Comments are lines begining with # you can write whatever you want after the 
# . and python will ignore it. comments is to make you codes easier to read and understand.

In [38]:
# compute the percentage of hour

# conditions

In [39]:
if 3 > 2:
    print ('it works!')

it works!

In [2]:
if 5 > 2:
    print ('5 is indeed grater than 2')
else:
    print ('5 is not grater than 2')

5 is indeed grater than 2

In [5]:
name = 'opeyemi'
if name == 'ola':
    print ('hey ola!')
elif name == 'opeyemi':
     print ( 'hey Opeyemi!')
else:
    print ('hey anonymous!')

hey Opeyemi!

In [8]:
volume = 10
if volume < 20:
    print ('its kinda quiet')
elif 20 <= volume < 40:
    print ('its nice for background music')
elif 40 <= volume <60:
    print ('perfect, i can hear all the details')
elif 60 <= volume < 80:
    print ('nice for parties')
elif 80 <= volume < 100:
    print ('a bit loud!')
else:
    print ('my ears are hurting! :(')

its kinda quiet

# Your own functions! 
A function is a sequence of instructions that python should execute. each function in python starts with the keyword def, which is given a name

In [9]:
def hi ():
    print ('hi there!')
    print ('how are you?')
hi ()

hi there!
how are you?

In [10]:
def hello (name):
    if name == 'opeyemi':
        print ('hi opeyemi!')
    elif name == 'Sonja':
        print ('hi Sonja!')
    else:
        print ('hi anonymous!')
    
hello ('tayo')

hi anonymous!

In [11]:
def times5 (var):
    return var*5

In [12]:
times5(10)

50

# Map ()

In [13]:
num = {1,2,3,4,5,6,7,8,9}

In [14]:
map(times5,num)

In [15]:
list (map(times5,num)) #list simply returns what has been mapped into

[5, 10, 15, 20, 25, 30, 35, 40, 45]

# Lambda

In [16]:
lambda var:var*5

In [17]:
l = lambda var:var*5    # the lambda was saved into L

In [20]:
l(6)    #l function ws called (6)

30

In [5]:
num = [1,2,3,4,5,6,7,8,9]

In [6]:
map (lambda num: num*3, num)

In [7]:
list(map (lambda num: num*3, num))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

# Filter

In [8]:
filter (lambda num: num%2 ==0,num)

In [9]:
list(filter(lambda num : num%2 ==0, num))   #filter lambda which is numbers equal to zero, print even number

[2, 4, 6, 8]

# Loops
# FOR Loops

In [14]:
juice = ['orange', 'apple', 'banana', 'kiwi']

for fruit in juice:
    print (fruit)

orange
apple
banana
kiwi

In [17]:
for x in 'banana':
    print (x)

b
a
n
a
n
a

# Using break statement

In [36]:
juice = ['orange', 'apple', 'banana', 'kiwi']

for fruit in juice:
    print (fruit)
    if fruit =='banana':
        break

orange
apple
banana

In [23]:
juice = ['orange', 'apple', 'banana', 'kiwi']

for fruit in juice:
    if fruit =='banana':
        break
        
    print (fruit)

orange
apple

# Using Continue Statement

In [29]:
juice = ['orange', 'apple', 'banana', 'kiwi', 'mango']

for fruit in juice:
    if fruit == 'banana':
        continue
    print (fruit)

orange
apple
kiwi
mango

# While Loop

In [30]:
 num = 3
while num <9:
    print ('num is: {}'.format(num))   #print num as long as num is less tan 9
    num +=1                        #this line increases num  + 1

num is: 3
num is: 4
num is: 5
num is: 6
num is: 7
num is: 8

# the break statement

In [37]:
num = 3
while num < 9:
    print (num)
    if num ==6:
        break    #this line breaks when num == 6
        
    num += 1 # this line increases num +1

3
4
5
6

# The Continue Statement

In [38]:
num = 3
while num < 9:
    num += 1
    if num == 6:
        continue    #continue to the next iteration if num ==6
    print('num is: {}'.format (num))

num is: 4
num is: 5
num is: 7
num is: 8
num is: 9

# Methods

In [39]:
st = 'hello my name is Opeyemi'

In [40]:
st.lower()

'hello my name is opeyemi'

In [41]:
st.upper()

'HELLO MY NAME IS OPEYEMI'

In [43]:
st.split()

['hello', 'my', 'name', 'is', 'Opeyemi']

In [52]:
tweet = 'I am in curator hub #DataScience'

In [53]:
tweet.split()

['I', 'am', 'in', 'curator', 'hub', '#DataScience']

In [54]:
tweet.split('#')

['I am in curator hub ', 'DataScience']

In [57]:
tweet.split('#') [1]

'DataScience'

In [60]:
print(tweet.split('#') [1])

DataScience

# Lists 
 A list in python is much the same thing as an array in Java or C or any other language; it is an ordered collection of obects.
You create a list by ebclosing a comma seperated list of elements in square brackets, like so:

In [62]:
[1,2,3]

[1, 2, 3]

In [3]:
country =['Nigeria','Ghan', 'France', 'Cameroon','Hugary', 'Saudi Arabia','Isreal',['Jerusalem','USA']] #a list within another list is called a nested list

In [4]:
country

['Nigeria',
 'Ghan',
 'France',
 'Cameroon',
 'Hugary',
 'Saudi Arabia',
 'Isreal',
 ['Jerusalem', 'USA']]

In [66]:
['hi', 1, [1,2]] # this shows you can put a list inside a list

['hi', 1, [1, 2]]

In [67]:
type (country)

list

In [68]:
my_list = ['a', 'b', 'c']

# append is used to add to end of a list

In [70]:
my_list.append('d')

In [71]:
my_list

['a', 'b', 'c', 'd']

In [72]:
# pop is used to delete if you know the index of the element you want to pop

In [73]:
x = my_list.pop(2)

In [74]:
my_list

['a', 'b', 'd']

In [75]:
x

'c'

In [80]:
country[0]

'Nigeria'

In [81]:
my_list[1]

'b'

# The Slice Operator also works on list:

In [82]:
country[0:4]

['Nigeria', 'Ghan', 'France', 'Cameroon']

In [83]:
Nations = country [0:4] # this print out the first 4 in the list and

In [93]:
Nations

['Nigeria', 'Ghan', 'France', 'Cameroon']

In [94]:
country[1:] # this prints out all other country except Nigeria

['Ghan',
 'France',
 'Cameroon',
 'Hugary',
 'Saudi Arabia',
 'Isreal',
 ['Jerusalem', 'USA']]

In [99]:
country[:1]

['Nigeria']

In [100]:
country[0]

'Nigeria'

In [101]:
country[7][1]

'USA'

In [103]:
family = ['Martins', 'Cynthia', 'Nne',['Chris', 'Collins',['Jude', 'Okenna'],['Chile',['Gift','Jennifer']]]]

In [104]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [105]:
family[3][2][1]

'Okenna'

In [106]:
family[3][3][1][0]

'Gift'

In [107]:
family.append('john')

In [108]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'john']

In [109]:
family[4] = 'james'

In [110]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'james']

In [111]:
family.insert(1,'jude') #this is used to add a listby indexing where you want it to be

In [112]:
family

['Martins',
 'jude',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'james']

In [113]:
family

['Martins',
 'jude',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'james']

In [114]:
names=['Femi', 'Ibukun', 'Tola', 'George', 'Kemi', 'Austin', 'Peter','John', 'Grace','Uche', 'Paul']

In [115]:
'ade' in ['Femi', 'Ibukun', 'Tola', 'George', 'Kemi', 'Austin', 'Peter','John', 'Grace','Uche', 'Paul']

False

In [116]:
'Tola' in ['Femi', 'Ibukun', 'Tola', 'George', 'Kemi', 'Austin', 'Peter','John', 'Grace','Uche', 'Paul']

True

In [117]:
'ade' in names

False

# Day 2 Assignment
# 1..write down the difference between Tuple, List and dictionary with examples
# 2..A simple guessing game that uses operators and condition statments to craete a simple calculator program that collect inputs from users

# A list is an ordered set of data that can be changed

In [2]:
a = [1,2,3]

In [3]:
a [1] = 4

In [6]:
print (a [1])

4

In [ ]:
a = [1,4,3]

# A tuple is an ordered  set of data that can not be changed

In [7]:
a = [1,2,3]

In [8]:
a[1] = 4

In [12]:
print (a)

[1, 4, 3]

# A dictionary does not have an order. instead of positions 0,1,2, you have keys and values

In [15]:
a = {'a':1, 'b':2, 'c':3,}

In [16]:
a[1] = 4

In [17]:
print (a)

{'a': 1, 'b': 2, 'c': 3, 1: 4}

# program to make a simple calculator that adds, subtract, multiply and divide

In [ ]:
def divide (x,y):
    return x / y

print ('seletion operation',)
print ('1.add')
print ('2.subtract')
print ('3.multiply')
print ('4.divide')

#Takes input from the users

choice = input ('enter choice (1/2/3/4):')
num1 =  int(input('enter first number:'))
num2 =  int(input('enter second number:'))

if choice == '1':
    print(num1,'+', num2,'=', add(num1, num2))
    
elif choice =='2':
    print (num1,'-', num2,'=', subtract(num1, num2))
    
elif choice =='3':
    print (num1,'*', num2,'=', multiply(num1, num2))
    
elif choice =='4':
    print (num1,'/',num2,'=', divide(num1, num2))
else:
    print('invalid input')

seletion operation
1.add
2.subtract
3.multiply
4.divide

In [1]:
1 * 8

8

# Tuples

t = (1,2,3)

In [3]:
t[0]

NameError: name 't' is not defined

In [4]:
x = [(1,2), (3,4), (5,6), (7,8), (9,8)]

In [6]:
for a,b in x:
    print (a)

1
3
5
7
9

In [8]:
for item in x:  #Tuple Unpacking
    print (item)
    (1, 2)
    (3, 4)
    (5, 6)
    (7, 8)
    (9, 8)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 8)

In [7]:
for a,b in x:
    print (a)
    print (b)

1
2
3
4
5
6
7
8
9
8

# Dictionaries

In [9]:
new_data = {'house': 'building where people stay'}

In [10]:
new_data['house']

'building where people stay'

In [17]:
states = {'Edo':'The Capital Of Edo state is Benin}

SyntaxError: invalid syntax (<ipython-input-17-3bd864f571f8>, line 1)

In [12]:
states

{'Ekiti': 'The Capital of Ekiti is Ado-Ekiti',
 'edo': 'The Capital Of Edo State is Benin'}

In [ ]:
sates ['USA']

In [15]:
states.keys()

dict_keys(['edo', 'Ekiti'])

In [ ]:
sates.items()