# Write down the difference between tuple,List and dictionary and give examples

### List: are what they seem i.e a list of values. Each one of them is numbered,starting from zero-the first one is #### numbered Zero, the second is 1, the third is 2 etc. are kept in squre brackets [ ]

### Tuples: are just list, but you cannot change thier values. The values that you give it first up, are the vaues
#### you stuck with for the rest of the program, and also each value is numbered starting from zero  for eassy reference.are ket in ( )

### Dictionaries: are similar to what thier names suggests- a dictionary i.e you have an 'index' of words and for 
##### each of them a definiton. in python, the word is called 'Key', and the definition  a 'value'. The values in a dictionary aren't nmbered - tare similar to what thier names suggests- a directionary. in a dictionry, you have a 'index' of words, and for each of them a defintion-  in python, the word  is called 'key' and the defintion a 'value'. the values in  dictionary aren't  numbered - they aren't in any specific order, either - the key does the same thing. you can add, remove and modify the valus in the dictionaries. it use the set sign { }.

# Example of List

In [5]:
cats = ['Tom', 'snappy', 'Kitty', 'jessie', 'chester']

In [6]:
cats [2]

'Kitty'

In [7]:
cats [0:2]

['Tom', 'snappy']

In [8]:
cats.append('Nehita') #append is the add to value to end of the word

In [9]:
cats

['Tom', 'snappy', 'Kitty', 'jessie', 'chester', 'Nehita']

In [12]:
del cats[3] #del is to remove a value

In [13]:
cats

['Tom', 'snappy', 'Kitty', 'chester', 'Nehita']

# example of Tuples

In [5]:
month = ('january', 'Feburay', 'March','April', 'May','June',\
          'July', 'August', 'september','October',)

In [8]:
month [0]

'january'

# Example of Dictionary

In [1]:
phonebook = {'Andrew' :6778,'Nehita':7414, \
             'Laura':777, 'Angela':556}

In [2]:
phonebook

{'Andrew': 6778, 'Angela': 556, 'Laura': 777, 'Nehita': 7414}

In [6]:
phonebook['ella']= 788 # to add a vaule the function

In [7]:
phonebook

{'Andrew': 6778,
 'Angela': 556,
 'Ella': 7689,
 'Laura': 777,
 'Nehita': 7414,
 'ella': 788}

In [8]:
del phonebook['Andrew'] # to delete a value from the dicionaries

In [9]:
phonebook

{'Angela': 556, 'Ella': 7689, 'Laura': 777, 'Nehita': 7414, 'ella': 788}

# Use operators and conditins to create simple calculator

In [2]:
number_1 = input('Enter your first number: ')
number_2 = input('Enter your second number: ')

Enter your first number: 5
Enter your second number: 7

In [1]:
number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your first number: '))

Enter your first number: 23
Enter your first number: 674

In [ ]:
# Adding Operators i.e mathematical operators +, -, *, /

In [6]:
number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))


print(number_1 + number_2)

Enter your first number: 8
Enter your second number: 3
11

In [2]:
number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))

print('{} + {} = '.format(number_1, number_2))

print(number_1 + number_2)

Enter your first number: 90
Enter your second number: 717
90 + 717 =
807

In [ ]:
number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))

#Addition
print('{} + {} = '.format(number_1, number_2))
print(number_1 + number_2)

#Subtraction
print('{} + {} = '.format(number_1, number_2))
print(number_1 - number_2)

#Multiplication
print('{} + {} = '.format(number_1, number_2))
print(number_1 * number_2)

#Division
print('{} + {} = '.format(number_1, number_2))
print(number_1 / number_2)

# We added the remaining operators -,*,/ into the program but if will run the rogram at this point, the program will execute
#all of the operator avove but however we want to limit the program to only perform onr operator at a time so to do this will
#be using the conditional statement

# Adding Conditional statement

In [ ]:
''' 
please type in the math operation you would like to complete:
    + for addition
    - for subtraction
    * for mutiplication
    / for division
    '''

In [ ]:
operation = input(''' 
please type in the math operation you would like to complete:
    + for addition
    - for subtraction
    * for mutiplication
    / for division
    ''')

number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))

print('{} + {} = '.format(number_1, number_2))
print(number_1 + number_2)


print('{} + {} = '.format(number_1, number_2))
print(number_1 - number_2)


print('{} + {} = '.format(number_1, number_2))
print(number_1 * number_2)


print('{} + {} = '.format(number_1, number_2))
print(number_1 / number_2)

In [1]:
operation = input(''' 
please type in the math operation you would like to complete:
    + for addition
    - for subtraction
    * for mutiplication
    / for division
    ''')

number_1 = int(input('Enter your first number: '))
number_2 = int(input('Enter your second number: '))

if operation == '+':
    print('{} + {} = '.format(number_1, number_2))
    print(number_1 + number_2)

elif operation == '-':
    print('{} + {} = '.format(number_1, number_2))
    print(number_1 - number_2)

elif operation == '*':
    print('{} + {} = '.format(number_1, number_2))
    print(number_1 * number_2)

elif operation == '/':
    print('{} + {} = '.format(number_1, number_2))
    print(number_1 / number_2)
    
else:
    print('You have not typed a valid operator, please run the program again.')

please type in the math operation you would like to complete:
    + for addition
    - for subtraction
    * for mutiplication
    / for division
    *
Enter your first number: 58
Enter your second number: 40
58 + 40 =
2320